{%extends 'base.html'%}

{%block head%}
  {%load static%}
  <link rel="stylesheet" type="text/css" href='{% static "events/events.css"%}'>
{%endblock%}

{%block body%}
	{%for photo in event_photos%}
		<a href={{photo.event.get_absolute_url}}>
		  <img src={{photo.picture.url}} alt='Event photo:{{photo.tag}}'/>
		</a>
	{%endfor%}
  <!-- <p class="lead" style="color: white; text-align: center; font-size: 2em;">Upcoming events: </p> -->
  <div class="wrapper">
    <div style="text-align: center; margin: 15px 0;">
      <a class="month-nav" href={{last}} alt='last month'>&laquo; Previous</a> &nbsp;
      <a class="month-nav" href={{next}} alt='next month'>Next &raquo;</a>
    </div>
    {{events_calender}}
  </div>
{%endblock%}
