body {
  font-family: 'Roboto', sans-serif;
}

.month {
  width: 100%;
  padding: 4px;
  background-color: rgba(255, 255, 255, 1);
  margin: 0 auto;
}

.noday {
background:lightgrey;
}
tr,td {
  border-right: 1px solid #d6d6d6;  
  text-align: center;
  border-bottom: 1px solid #d6d6d6;
  width:240px;
}
td {
  height:80px;
  overflow:hidden;
}

td ul li{
list-style:none;
}

.month tr:nth-child(2) {
  background-color: #A4C739;
  color: white;
  border: 1px solid #d6c1d6;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3);
}

td.today {
  font-weight: bold;
  background-color: rgba(181, 228, 206, .4);
}

td.today.date {
  font-size: 110%;
  text-shadow: 1px 1px 3px rgba(25,25,25, 0.3);
}

