* {
  margin: 0;
  padding: 0;
}

body {
  background: #193441;
}

#container {
  max-width: 960px;
  margin: 0 auto;
  background: #91AA9D;
  margin-top: 15px;
}

header {
  color: white;
  font-family: sans-serif;
  background-color: #3b5c6b;
  padding: 40px;
}

#logo {
  position: relative;
  height: 100px; 
  width: 75px;
  float: left;
  right: 15px;
  bottom: 20px;
}

nav {
  background-color: #d1dbbd;
}

nav ul {
  list-style: none;
  margin-left: 15px;
}

nav ul li {
  display: inline;
  margin-left: 1px;
  padding: 6px;
  font-size: 0.9em;
}

nav ul li a {
  text-decoration: none;
  color: #306885;
  font-weight: bold;
  font-family: sans-serif;
}

nav ul li a:hover {
  text-decoration: underline;
}
