body
{background:#051a29;}
div
{
border-radius:7px;
}
body>div
{
width:750px;
height:750px;
margin:auto;
margin-top:5px;
background:red;
}
body>div>div
{float:left;
margin:5px;}
#header
{
color:lightgrey;
width:99%;
height:90px;
background:rgb(25, 52, 65);
}
#header>div
{
margin-left:5px;
float:left;
}

#breadcrumbs
{width:20%;
background:#051a29;
min-height:500px;}

