#slideshow {
    position: relative;
    width: 78%;
    height: 500px;
}

#slideshow img {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    height:500px;
    width:100%;
}

#slideshow img.active {
    z-index:3;
}

#slideshow img.last-active {
    z-index:2;
}
