.soc {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  width: 100%;
  height: 180px;
  margin: 20px 20px; 
}

.soc h4 {
  margin-bottom: 10px;
}

.soc p {
  font-size: 0.9em;
}

.soc p:last-of-type {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 25px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 1em;
}

.soc-link {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 5px;
  margin-bottom: 15px;
}

/* lead override */
.lead {
  font-size: 1.2em;
  font-weight: bold;
}

#soc-exc {
  max-width: 900px;
  padding: 30px;
  margin: 0 auto;
  margin-bottom: 2%;
}

#soc-exc h1 {
  color: white;
  font-size: 4em;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 50px;
}

#soc-exc p {
  word-wrap: break-word;
  color: white;
  font-family: Tahoma, sans-serif;
}



