.soc {
  background-color: rgba(255, 255, 255, 0.5);
  width: 90%;
  height: 165px;
  padding: 10px;
  margin: 0 auto;
  margin: 20px 20px;
}

.soc h4 {
  margin-bottom: 10px;
}

.soc p {
  font-size: 0.8em;
}

.soc p:last-of-type {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 25px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 1em;
}

.soc-link {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 5px;
  margin-bottom: 15px;
}


#soc-exc {
  max-width: 1200px;
  padding: 30px;
  margin: 0 auto;
  margin-bottom: 2%;
  font-family: inherit;
}

.soc-img {
  margin: 0 auto;
}

#soc-exc h1 {
  color: white;
  font-size: 3.8em;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Oswald', sans-serif;
}

#soc-exc p {
  color: white;
}




