{%extends 'base.html'%}
{%block head%}
	{%load static%}
		<script type='text/javascript' src='{%static "attendence/home.js"%}'></script>
	{%block attendance_head%}
	{%endblock%}
{%endblock%}

{%block body%}
	<form action="{%url 'get_students'%}" method='post'>
		{%csrf_token%}
		<select name='course'>
			{%for course in courses%}
				<option value={{course.id}}>{{course.name}}</option>
			{%endfor%}
		</select>
			<select name='semester'>
			{%for semester in semesters%}
				<option value={{semester}}>{{semester}}</option>
			{%endfor%}
		</select>
		<input type='submit' value='Go' />
	</form>
	{%block attendance_body%}
	{%endblock%}

{%endblock%}
