{%extends 'base.html'%}
{%block head%}
	{%load static%}
		<script type='text/javascript' src='{%static "attendence/home.js"%}'></script>
	{%block attendance_head%}
	{%endblock%}
{%endblock%}

{%block body%}
	<select>
		{%for course in courses%}
			<option value={{course.id}}>{{course.name}}</option>
		{%endfor%}
	</select>
	<select>
		{%for semester in semesters%}
			<option value={{semester}}>{{semester}}</option>
		{%endfor%}
	</select>
	<button>
	Get class List
	</button>
	
	{%block attendance_body%}
	{%endblock%}

{%endblock%}
