{%extends 'admission/home.html'%}

{%block admission_head%}
	{% load static %}
	<link rel="stylesheet" type="text/css" href='{% static "admission/cutoff.css"%}'>
	<link rel="stylesheet" type="text/css" href='{% static "admission/cutoff-responsive.css"%}'>
{%endblock%}

{%block admission_body%}
	{% for course in courses %}
		<div class="table-responsive" style="width: 70%; margin: 0 auto;">
		  <table class="table table-bordered" style="text-align: center;">
		  	<thead>
			    <tr>
			      <th colspan="4" style="font-size: 3em;" class="lead">
							{{course.course}}
			      </th>
			    </tr>
	  		</thead>
			  <tbody>
			    <tr style="font-weight: bold; font-size: 1.4em;">
			      <td>Category</td>
			      <td>Science (BFS)</td>
			      <td>Commerce (BFS)</td>
			      <td>Humanities (BFS)</td>
			    </tr>
			    <!-- Need help with this portion -->
			    {% for category in categories %}
				    <tr>
				    	<td>{{category.code}}</td>
				    	<td>science cutoff for cat</td>
				    	<td>commerce cutoff for cat</td>
				    	<td>humanities cutoff for cat</td>
				    </tr>
			    {% endfor %}		
			  </tbody>	
		  </table>
		</div>
	{% endfor %}
{%endblock%}