{%extends 'admission/home.html'%}

{%block admission_head%}
	{% load static %}
	<link rel="stylesheet" type="text/css" href='{%static "admission/form.css"%}'>
{%endblock%}

{%block admission_body%}
	{%if form%}
	<form role="form" action="{%url 'admission_form'%}" method="post" {%if form.is_multipart%} enctype="multipart/form-data" {%endif%}>
		{%csrf_token%}
		{{form}}
		<input type='submit' val='Submit' />
	</form>
	{%else%}
		<p>We are currently not accepting admission forms.</p>
	{%endif%}
{%endblock%}
