{%extends 'admission/home.html'%}


{%block admission_head%}
{%endblock%}


{%block admission_body%}
	<div id="notice-board">
	    {%for notice in notices%}
		<div class="notice col-xs-6 col-sm-4"> 
		  <h4>{{notice.title}}</h4>
		  <p>{{notice.description|truncatewords:'7'}}</p>
		  <p>{{notice.publish_date|date:'d F Y'}}</p>
		  <a target="_blank" href="https://docs.google.com/viewer?url={{domain_name|add:notice.associated_file.url|urlencode}}" class="btn btn-default notice-link">View notice &raquo;</a>  
		</div>
	    {%endfor%}
	</div>
{%endblock%}
