{%extends "base.html"%}

{%block body%}

{%if form.errors%}
<p>Your username and password didn't match. Please try again.</p>
{%endif%}

<form method="POST" action="{%url 'django.contrib.auth.views.login'%}">
{%csrf_token%}
<table style="margin-top: 20px;">
	<tr>
		<td>{{form.username.label_tag}}</td>
		<td>{{form.username}}</td>
	</tr>
	<tr>
		<td>{{form.password.label_tag}}</td>
		<td>{{form.password}}</td>
	</tr>
	<tr>
		<td>
			<input type="submit" value="Login" style="padding: 30px; font-size: 1.2em; margin-top: 5px;">
		</td>
	</tr>
</table>


<input type="hidden" name="next" value="{{next}}"/>
</form>

{%endblock%}
