{%extends "base.html"%}

{%block body%}

{%if form.errors%}
<p>Your username and password didn't match. Please try again.</p>
{%endif%}

<form method="POST" action="{%url 'django.contrib.auth.views.login'%}">
{%csrf_token%}
<table style="margin-top: 20px;">
	<tr>
		<td>{{form.username.label_tag}}</td>
		<td>{{form.username}}</td>
	</tr>
	<tr>
		<td>{{form.password.label_tag}}</td>
		<td>{{form.password}}</td>
	</tr>
	<tr>
		<td>
			<input type="submit" value="Login" style="padding: 30px; font-size: 1.2em; margin-top: 5px;">
		</td>
	</tr>
</table>


<input type="hidden" name="next" value="{{next}}"/>
</form>
<p>
After logging in you will be able to :
	<ul>
		<li>Student
			<ol>
				<li>Look at your attendance</li>
				<li>Request ECA etc.</li>
				<li></li>
			</ol>
		</li>
		<li>Teaching Senior Member
			<ol>
				<li>Upload attendance</li>
				<li>Register events</li>
				<li>Upload lecture material(beta version)</li>
				<li>Fill out leave forms etc.</li>
			</ol>
		</li>
		<li>
			<ol>
				<li>Register events</li>
				<li>Fill out leave forms etc.</li>
			</ol>
		</li>
	</ul>
</p>

{%endblock%}
