{%extends 'base.html'%}

{%block body%}

<!-- {%if contacts%}
<table>
  {%for i in contacts%}
  <tr {%if not forloop.counter|divisibleby:"2"%}class='even_row' {%endif%}>
    <td>{{i.name}}</td><td>{{i.value}}</td>
  </tr>
  {%endfor%}
</table>
<hr>
{%endif%} -->

<!-- <div id='google_map_frame'>
  <h1 style="text-align: center; color: white; font-family: sans-serif;">Location on a Map</h1>
  <br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3500.1052177754555!2d77.212977!3d28.686498999999994!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd93efe5376b%3A0x87e7248a72724203!2sSt+Stephens+College!5e0!3m2!1sen!2sin!4v1409207082362" width="100%" height="440" frameborder="0" style="border: 0; margin-bottom: 30px;"></iframe>
</div> -->
{%endblock%}
