{%extends 'base.html'%}

{%block head%}
	{%load static%}
	<link rel="stylesheet" type="text/css" href='{%static "mainsite/home.css"%}'/>
	<link rel="stylesheet" type="text/css" href='{%static "mainsite/home-responsive.css"%}'/>
	<link rel="stylesheet" type="text/css" href='{% static "mainsite/juicyslider.css" %}'/>
	<script type="text/javascript" src="{%static 'mainsite/home.js'%}"></script>
	<script type="text/javascript" src="{%static 'mainsite/juicyslider.js'%}"></script>
{%endblock%}

{%block body%}
<!-- juicyslider: https://github.com/vanting/juicyslider -->
<div id="slideshow">
	<div id="myslider" class="juicyslider">
		<ul>
			{% for name in slideshow%}
				<li><img class="img-responsive" src='{{name.associated_photo.url}}' alt=''></li>
			{%endfor%}
		</ul>	
		<div class="nav next"></div>
  	<div class="nav prev"></div>
  	<div class="mask"></div>
	</div>
</div>
<div id="headings">
	<div class="col-md-4">
		<h1 style="margin-right: 5px;">Notifications<a href='{%url "notification_feed"%}'><img src={%static "mainsite/images/rss.jpg"%} alt='--rss--' style="margin-left: 10px;" /></a></h1>
		<ol>
			{%for n in notification%}
				<li><a href='{%url "notice_view" n.id%}'>{{n.title|capfirst}}{%if n.recent%}<img src='{%static "mainsite/images/new2.gif"%}' width=30eu alt='*' style="margin-left: 5px;" />{%endif%}</a></li>
			{%endfor%}
		</ol>
		<p><a class="btn btn-default" href="{%url 'notice_home'%}" role="button">More.. &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h1 style="margin-right: 5px;">Principal's Desk <a href='{%url "principal_feed"%}'><img src={%static "mainsite/images/rss.jpg"%} alt='--rss--' style="margin-left: 10px;" /></a></h1>
		<ol>
			{%for n in principal_desk%}
				<li><a href='{%url "notice_view" n.id%}'>{{n.title|capfirst}}{%if n.recent%}<img src='{%static "mainsite/images/new2.gif"%}' width=30eu alt='*' style="margin-left: 5px;" />{%endif%}</a></li>
			{%endfor%}
		</ol>
		<p><a class="btn btn-default" href="{%url 'principal_home'%}" role="button">More.. &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h1 style="margin-right: 5px;">Heading 3<a href='{%url "principal_feed"%}'><img src={%static "mainsite/images/rss.jpg"%} alt='' style="margin-left: 10px;" /></a></h1>
		<p><a class="btn btn-default" href="#" role="button">More.. &raquo;</a></p>
	</div>
</div>
{%endblock%}


