{%extends 'base.html'%}

{%block head%}
{%endblock%}

{%block body%}
	<h1>{{notice.title}}</h1>
	{{notice.publish_date}}
	<p>
	{{notice.description}}
	</p>
	
	{%for sl in slots%}
	
		<div class='slot'>
			{%if sl.link%}
			<a href={{sl.link}}>
			{%endif%}
					{%if sl.picture%}
						<img src={{sl.picture.url}} alt='Image'/>
					{%endif%}
					<p>
					{{sl.text}}
					</p>
			{%if sl.link%}
			</a>
			{%endif%}
			{%if sl.associated_file%}
				<a href={{sl.associated_file.url}} >{{sl.text}}</a>
			{%endif%}
		</div>
	{%endfor%}
{%endblock%}
