{%extends 'base.html'%}

{%block head%}
  {%load static%}
  <link rel="stylesheet" type="text/css" href='{%static "mainsite/soc.css"%}'/>
  <link rel="stylesheet" type="text/css" href='{%static "mainsite/soc-responsive.css"%}'/>
  <script type="text/javascript" src="{%static 'mainsite/soc.js'%}"></script>
{%endblock%}

{%block body%}

{%if societies%}
  <div id="socs">
    {%for i in societies%}
      <div class="col">
        <div class="soc col-xs-6 col-sm-4"> 
          <h4>{{i.name}}</h4>
          <a href={{i.get_absolute_url}} class="btn btn-default notice-link">View Society &raquo;</a> 
        </div>
      </div>
    {%endfor%}
  </div>
{%endif%}

{%if society%}
  <div id="soc-exc">
	   <h1>{{society.name}} ({{society.nickname}})</h1>
     <img class="soc-img img-responsive" src="" alt='Background society image'> 
	   <p class="lead"> {{society.description}} </p>
  </div>
{%endif%}

{%endblock%}
