table {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  background-color: #d1dbbd;
  margin: 0 auto;
  width: 100%;
  border: 1px solid black;
}

table label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  padding: 0 20px;
}

table tr {
  border-bottom: 1px solid black;
}

table td {
  padding: 20px 40px;
}

button {
  margin-top: 20px;
  float: right;
}